# Directories
.*/
obj/
[Tt]emp/
*/bin/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Ll]ibrary/
[Ss]witchIL2CPPCache/
[Ss]witchIL2CPPStats/


# Files
*.sln
*.exe
*.pdb
/*.csproj

# Extra
slots
Assets_deprecated
.vsconfig
Assets/clientSecret.txt
Assets/clientSecret.txt.meta
UserSettings/EditorUserSettings.asset
